
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/plugins/c3/c3.min.css" rel="stylesheet" />

<img src="~/Content/icons/chevron-compact-up.svg" />

<style>
    .ibox {
        position: relative;
    }

        .ibox .ibox-content .control-chart-menu {
            position: absolute;
            right: 20px;
            z-index: 1;
        }

    .btn-outline-info {
        color: #17a2b8;
        background-color: transparent;
        background-image: none;
        border-color: #17a2b8;
    }

        .btn-outline-info:hover, .btn-outline-info.active {
            color: white;
            background-color: #17a2b8;
        }

    .bi {
        display: inline-block;
        vertical-align: -0.125em;
    }

    .bi-chevron-compact-up {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-compact-up' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z'/></svg>");
    }

    .bi-chevron-compact-down {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-compact-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z'/></svg>");
    }
</style>
<!--https://yoksel.github.io/url-encoder/-->
<h2>Index</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Bar Chart Example </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="bi bi-chevron-compact-up"></i>
                    </a>
                    @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>*@
                    @*<ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>*@
                </div>
            </div>
            <div class="ibox-content">
                <div class="control-chart-menu">
                    <div class="btn btn-outline-info active">1 Hour</div>
                    <div class="btn btn-outline-info">30 Minutes</div>
                    <div class="btn btn-outline-info">15 Minutes</div>
                </div>
                <div id="chartSample"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/plugins/d3/d3.min.js"></script>
    <script src="~/Scripts/plugins/c3/c3.min.js"></script>
    <script>
        $(document).ready(init);
        function init() {

            c3.generate({
                bindto: '#chartSample',
                data: {
                    columns: @Html.Raw(ViewBag.DataColumnsJs),
                    colors: {
                        data1: '#1ab394',
                        data2: '#BABABA'
                    },
                    type: 'spline'
                },
                axis: {
                    x: {
                        type: 'category',
                        categories: @Html.Raw(ViewBag.AxisCategoriesJs)
                    }
                }
            });

            // MetsiMenu
            /*$('#side-menu').metisMenu();*/

            // Collapse ibox function
            $('.collapse-link').click(function () {
                var ibox = $(this).closest('div.ibox');
                var button = $(this).find('i');
                var content = ibox.find('div.ibox-content');
                content.slideToggle(200);
                button.toggleClass('bi-chevron-compact-up').toggleClass('bi-chevron-compact-down');
                ibox.toggleClass('').toggleClass('border-bottom');
                setTimeout(function () {
                    ibox.resize();
                    ibox.find('[id^=map-]').resize();
                }, 50);
            });

            // Close ibox function
            $('.close-link').click(function () {
                var content = $(this).closest('div.ibox');
                content.remove();
            });
        }
    </script>
}
